---
import brangicon1 from "../../assets/images/feautured-in-icon1/Featured in.png"
import brangicon2 from "../../assets/images/feautured-in-icon2.png"
import brangicon3 from "../../assets/images/feautured-in-icon3.png"
import brangicon4 from "../../assets/images/feautured-in-icon4.png"
import brangicon5 from "../../assets/images/feautured-in-icon5.png"
import brangicon6 from "../../assets/images/feautured-in-icon6.png"
---

<section class="brands">
    <div class="container wrapper">
        <div class="brand">
            <img src={brangicon1} alt="">
        </div>

        <!--  -->
        <div class="brand">
            <img src={brangicon2} alt="">
        </div>
        <!--  -->
        <div class="brand">
            <img src={brangicon3} alt="">
        </div>
        <!--  -->
        <div class="brand">
            <img src={brangicon4} alt="">
        </div>
        <!--  -->
        <div class="brand">
            <img src={brangicon5} alt="">
        </div>
         <!--  -->
         <div class="brand">
            <img src={brangicon6} alt="">
        </div>

        
    </div>

</section>

<style lang="scss">
 @import "../../assets/styles/variables.scss";

 .brands{
    padding-bottom: 100px;

    .wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
 }
 }


</style>